
body
{
   /*background-color: blue;*/

}

img {
  margin:50px;
  border:1px;
  float: center;
  width: 200px;
  height: 130px;
}
body{
margin: auto;
  width: 80%;
}
table
{
  border-collapse: collapse;
  width:100%;
}
table, th,td {
  border:2px solid black;
  /* width:80%; */

}
.header{
  display: flex;
}
.header h2 {
  padding-top: 5%;
}
.header img{
}
#historical Places .box img{
  margin-bottom: 1px;
  margin-right: : 2px;
  width:10%
}
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float:left;
  text-align: center;
  width: 200px;
  padding: 30px;
  overflow:hidden;
}
#boxes .box img{
  width: 100px
  overflow:hidden;
}

.Container {

  width: 100%;
float: center;
}
.content {
    width: 100%;
    border: 4px solid powderblue;
    padding: 0;
    overflow: hidden;
}

.content img {
    margin-left: 15px;
    float: left;
}
.content p{
  float: left;
  width: 100%;
   padding-top: -10px;
  display: inline-block;
}

h2{

  text-align: center;
}
.disCenter{
  margin: left;
  text-align: left;

  border-radius: 50%;
  float: left;
  transform: rotate(90deg);
}
